/* UTILITIES */
@font-face {
  font-family: 'Cera';
  src: url("fonts/CeraPRO-Regular.eot");
  src: url("fonts/CeraPRO-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/CeraPRO-Regular.woff") format("woff"), url("fonts/CeraPRO-Regular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Cera';
  src: url("fonts/CeraPRO-RegularItalic.eot");
  src: url("fonts/CeraPRO-RegularItalic.eot?#iefix") format("embedded-opentype"), url("fonts/CeraPRO-RegularItalic.woff") format("woff"), url("fonts/CeraPRO-RegularItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Cera';
  src: url("fonts/CeraPRO-Medium.eot");
  src: url("fonts/CeraPRO-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/CeraPRO-Medium.woff") format("woff"), url("fonts/CeraPRO-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Cera';
  src: url("fonts/CeraPRO-MediumItalic.eot");
  src: url("fonts/CeraPRO-MediumItalic.eot?#iefix") format("embedded-opentype"), url("fonts/CeraPRO-MediumItalic.woff") format("woff"), url("fonts/CeraPRO-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Cera';
  src: url("fonts/CeraPRO-Bold.eot");
  src: url("fonts/CeraPRO-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/CeraPRO-Bold.woff") format("woff"), url("fonts/CeraPRO-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Cera';
  src: url("fonts/CeraPRO-BoldItalic.eot");
  src: url("fonts/CeraPRO-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/CeraPRO-BoldItalic.woff") format("woff"), url("fonts/CeraPRO-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

/* COLORS */
/* TYPOGRAPHY */
/* TRANSITIONS */
/* MEDIA QUERIES */
/* BASE STYLES */
html {
  box-sizing: border-box;
  position: relative; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  font-family: "ff-tisa-web-pro", serif;
  font-size: 16px;
  background-color: #F0F5F5;
  position: relative; }
  @media screen and (min-width: 740px) {
    body {
      font-size: 20px; } }

#body {
  width: 100%;
  height: 100%; }

#page-wrap {
  position: relative;
  z-index: 5;
  box-sizing: border-box;
  padding-top: 1px;
  padding-bottom: 10vw;
  transform: translateZ(0vw);
  background: linear-gradient(0deg, rgba(225, 236, 255, 0) 5%, #e1ecff 40%, white 100%); }

.no-scroll {
  overflow-y: hidden;
  position: fixed;
  width: 100%;
  height: 100%; }

a {
  color: #197380;
  transition: all 0.2s ease-out; }
  a:visited {
    color: #197380; }
  a:hover, a:active {
    color: #B1A0A0; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em;
  overflow: hidden;
  text-overflow: ellipsis; }

.single-column {
  max-width: 750px;
  margin: 0 auto 8em; }

.two-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  @media screen and (min-width: 740px) {
    .two-column {
      flex-direction: row; } }
  @media screen and (min-width: 740px) {
    .two-column .site-main {
      order: 2;
      width: 66.67%; } }

.sidebar {
  font-family: "Cera", san-serif; }
  @media screen and (min-width: 740px) {
    .sidebar {
      order: 1;
      width: 22%;
      margin-top: 5px; } }

.sidebar-title {
  text-transform: uppercase; }

h1,
.h1 {
  font-family: "Cera", san-serif;
  color: #14383D;
  font-size: 2.3em;
  font-weight: normal;
  line-height: 1.15em; }

h2,
.h2 {
  font-family: "Cera", san-serif;
  color: #14383D;
  font-size: 1.8em;
  font-weight: normal; }

h3,
.h3 {
  font-family: "Cera", san-serif;
  color: #14383D;
  font-size: 1em;
  font-weight: bold;
  margin-top: 0; }

h4,
.h4 {
  font-family: "Cera", san-serif;
  color: #14383D;
  font-size: 1em;
  font-weight: normal; }

.site-title a {
  text-decoration: none; }

.entry-title {
  margin-top: 0;
  margin-bottom: 0.65em; }

.extra-margin-heading {
  margin-bottom: 5rem; }

/* COMPONENTS */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.65em 0 7.5em; }

.site-title {
  font-size: 1.4em;
  margin: 0;
  font-family: "Cera", san-serif;
  font-weight: lighter; }

.tcon {
  appearance: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  transition: 0.3s;
  user-select: none;
  width: 2em;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }
  .tcon > * {
    display: block; }
  .tcon:hover, .tcon:focus {
    outline: none; }
  .tcon::-moz-focus-inner {
    border: 0; }

.tcon-menu__lines {
  display: inline-block;
  height: 0.28571em;
  width: 2em;
  transition: 0.3s;
  background: #197380;
  position: relative; }
  .tcon-menu__lines::before, .tcon-menu__lines::after {
    display: inline-block;
    height: 0.28571em;
    width: 2em;
    transition: 0.3s;
    background: #197380;
    content: '';
    position: absolute;
    left: 0;
    transform-origin: 0.14286em center;
    width: 100%; }
  .tcon-menu__lines::before {
    top: 0.5em; }
  .tcon-menu__lines::after {
    top: -0.5em; }
  .tcon-transform .tcon-menu__lines {
    transform: scale3d(0.8, 0.8, 0.8); }

.tcon-menu--xcross {
  width: auto; }
  .tcon-menu--xcross.tcon-transform .tcon-menu__lines {
    background: transparent; }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::before, .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
      transform-origin: 50% 50%;
      top: 0;
      width: 2em; }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
      transform: rotate3d(0, 0, 1, 45deg); }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
      transform: rotate3d(0, 0, 1, -45deg); }

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.main-navigation.toggled .nav-menu {
  opacity: 1;
  transition: all 0.2s ease-out; }

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  position: fixed;
  width: 100%;
  background-color: #F0F5F5;
  left: 0;
  top: 19%;
  padding-top: 10%;
  bottom: 0;
  overflow: auto;
  display: block; }
  @media screen and (min-width: 855px) {
    .nav-menu {
      position: relative;
      display: inline-block;
      opacity: 1;
      padding-top: 0;
      overflow: visible;
      background-color: transparent; } }

.menu-item {
  display: block;
  text-align: center;
  font-family: "Cera", san-serif;
  text-transform: uppercase; }
  @media screen and (min-width: 855px) {
    .menu-item {
      display: inline-block;
      text-align: left; } }
  .menu-item a {
    padding: 1em 0;
    font-size: 0.8em;
    letter-spacing: 1.18px;
    transition: all 0.2s ease-out;
    text-decoration: none;
    display: block; }
    @media screen and (min-width: 855px) {
      .menu-item a {
        padding: 10px 20px;
        display: inline; }
        .menu-item a:hover {
          color: #197380;
          background-color: #E8E1E1; } }

.menu-toggle {
  display: inline;
  padding: 0; }
  @media screen and (min-width: 855px) {
    .menu-toggle {
      display: none; } }

.menu-item-has-children {
  position: relative;
  cursor: pointer; }
  .menu-item-has-children.active > a {
    background-color: #E8E1E1; }
  @media screen and (min-width: 855px) {
    .menu-item-has-children.active:after {
      top: 130%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #6C8094;
      border-width: 10px;
      margin-left: -10px; } }

.sub-menu {
  background-color: #fff;
  padding: 1.2em 0;
  position: relative;
  width: 100%;
  margin: 0;
  display: none;
  border-top: 1px solid #197380;
  border-bottom: 1px solid #197380; }
  @media screen and (min-width: 855px) {
    .sub-menu {
      position: absolute;
      width: 342px;
      border-left: 1px solid #197380;
      border-right: 1px solid #197380;
      left: -2.15em;
      top: 2.6em; } }
  .sub-menu .menu-item {
    text-transform: none;
    display: block;
    text-align: center;
    line-height: 2.15em; }
    .sub-menu .menu-item a {
      display: block;
      padding: 0 !important; }

.nav-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  font-family: "Cera", san-serif; }

.wp-caption-text {
  font-family: "Cera", san-serif; }

.btn,
a.btn {
  background-color: #197380;
  color: #fff;
  cursor: pointer;
  font-family: "Cera", san-serif;
  padding: 1.25em 2.4em;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  display: inline-block;
  line-height: 1;
  text-decoration: none; }
  .btn:hover,
  a.btn:hover {
    background-color: #B1A0A0; }

.cta-link {
  font-family: "Cera", san-serif; }

@keyframes distance-wobble {
  0% {
    transform: rotate(0deg) translateX(5px) rotate(0deg);
    opacity: 0.4; }
  12% {
    opacity: .6; }
  13% {
    opacity: .8; }
  14% {
    opacity: .4; }
  25% {
    transform: rotate(360deg) translateX(10px) rotate(-358deg);
    opacity: .7; }
  26% {
    opacity: .9; }
  32.5% {
    opacity: .4; }
  33% {
    opacity: .8; }
  34% {
    opacity: .4; }
  56% {
    transform: rotate(720deg) translateX(3px) rotate(-722deg);
    opacity: .6; }
  57% {
    opacity: .9; }
  65% {
    opacity: .4; }
  80% {
    transform: rotate(1080deg) translateX(8px) rotate(-1078.5deg);
    opacity: .6; }
  100% {
    transform: rotate(1440deg) translateX(5px) rotate(-1440deg);
    opacity: .4; } }

@keyframes float-wobble {
  0% {
    transform: rotate(0deg) translateX(1.8%) rotate(0deg); }
  25% {
    transform: rotate(360deg) translateX(2.4%) rotate(-358deg); }
  55% {
    transform: rotate(720deg) translateX(1.2%) rotate(-722deg); }
  80% {
    transform: rotate(1080deg) translateX(2%) rotate(-1078.5deg); }
  100% {
    transform: rotate(1440deg) translateX(1.8%) rotate(-1440deg); } }

#body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 80vw;
  perspective-origin: center -12vw;
  background: #e1ecff; }

.below #body {
  perspective-origin: center 45vh; }

.wave-wrap {
  width: 100vw;
  position: absolute;
  top: 0;
  overflow: hidden; }
  .below .wave-wrap {
    display: none; }

.waterline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100; }
  .waterline > div {
    border-bottom: 2px solid orange;
    box-sizing: border-box;
    width: 100vw;
    height: 0px;
    position: relative; }
    .waterline > div.window-w {
      border-color: yellow; }
    .waterline > div.window-h {
      border-color: magenta; }
    .waterline > div.wave-reveal {
      border-color: blue; }
    .waterline > div.persp-o {
      border-color: green; }

.wave-seg {
  width: 100%;
  transform-origin: center center;
  position: absolute;
  top: 600vw;
  height: 26.44vw;
  left: 0;
  z-index: 0; }
  .wave-seg img {
    display: block;
    width: 100%;
    height: auto; }

.waterline {
  top: 9.6px;
  top: 0; }

.wave-back {
  top: 200vw;
  height: 210vw;
  background: #e1ecff;
  transform: translateZ(-586.66667vw) scale(8.33333); }

.wave-l-1 {
  transform: translateZ(-586.66667vw) scale(8.33333); }

.wave-l-2 {
  transform: translateZ(-453.33333vw) scale(6.66667); }

.wave-l-3 {
  transform: translateZ(-364.44444vw) scale(5.55556); }

.wave-l-4 {
  transform: translateZ(-300.95238vw) scale(4.7619); }

.wave-l-5 {
  transform: translateZ(-253.33333vw) scale(4.16667); }

.wave-l-6 {
  transform: translateZ(-216.2963vw) scale(3.7037); }

.wave-l-7 {
  transform: translateZ(-186.66667vw) scale(3.33333);
  /*background: orange;*/ }

.wave-l-8 {
  transform: translateZ(-162.42424vw) scale(3.0303); }

#canvas-container {
  height: 30vw;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translateZ(-162.42424vw) scale(3.0303); }

#sineCanvas {
  height: 40vw;
  width: 110vw;
  position: absolute;
  top: -5vw;
  left: -5vw;
  filter: blur(2px); }

/* TEMPLATE STYLES */
.home #page {
  text-align: center; }

.home .book-title {
  padding: 0 0.5em;
  height: 40vh;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center; }
  @media screen and (min-width: 740px) {
    .home .book-title {
      height: 80vh; } }
  .home .book-title .title-svg {
    width: 100%;
    height: auto; }

.home .reviews {
  margin-top: 50vw; }

.home .featured-review {
  font-family: "ff-tisa-web-pro", serif;
  font-size: 1.6em;
  line-height: 1.2;
  color: #14383D;
  margin: 6em auto 14em;
  max-width: 32ch; }
  .home .featured-review p {
    margin-top: 0;
    margin-bottom: 24px; }
  .home .featured-review p:last-child {
    font-family: "Cera", san-serif;
    font-size: 16px; }

.book-overview {
  font-size: 1.1em; }

.book-sidebar p {
  margin: 0; }

.book-sidebar a {
  font-weight: lighter;
  display: block;
  line-height: 1.75em;
  font-size: .9em; }

.book-sidebar-img {
  width: 100%;
  height: auto;
  margin-bottom: 1em; }

.book-reviews,
.book-interviews {
  margin-bottom: 4em; }

.book-review,
.book-interview {
  border-bottom: 1px solid #6C8094;
  margin-bottom: 2.15em;
  padding-bottom: 2.15em; }
  .book-review:last-of-type,
  .book-interview:last-of-type {
    border-bottom: none; }

.book-review-content p:first-of-type,
.book-interview-content p:first-of-type {
  font-family: "Cera", san-serif; }

.book-review-content a:last-child,
.book-interview-content a:last-child {
  font-family: "Cera", san-serif; }

.back-to-book-link {
  display: block;
  margin-bottom: 4em; }

.back-to-book-btn {
  margin-top: 4em; }

.single-excerpt .entry-content h1:first-child,
.single-excerpt .entry-content h2:first-child,
.single-excerpt .entry-content h3:first-child,
.single-excerpt .entry-content h4:first-child {
  margin-top: -0.8em; }

.slidenumbers {
  font-size: .65em;
  line-height: 1; }

.slideinput {
  font-size: 1em; }

.sshow-inwrap {
  width: 100%;
  height: 73.38vw;
  max-width: 672px;
  max-height: 520px; }

.non-fiction-archive {
  max-width: 720px;
  margin: 0 auto; }

.non-fiction-item {
  padding-bottom: 2em;
  border-bottom: 1px solid #6C8094; }

.non-fiction-item-pub,
.non-fiction-item-date {
  display: block;
  font-family: "Cera", san-serif;
  font-weight: lighter; }

.news-heading {
  margin-bottom: .15em; }

.archive-description p {
  margin: 0;
  font-family: "Cera", san-serif;
  line-height: 1.5; }

.news-post {
  font-family: "Cera", san-serif;
  border-bottom: 1px solid #6C8094;
  margin-bottom: 2.4em;
  padding-bottom: 1em; }
  .news-post:last-of-type {
    border: none; }
  .news-post p {
    font-weight: lighter; }

.news-post-date {
  background-color: rgba(229, 223, 211, 0.5);
  padding: .25em .5em;
  display: inline-block;
  margin-bottom: 1.25em; }

.calendar-event {
  margin-bottom: 1em; }

.calendar-event-date {
  display: block; }

.calendar-event-link {
  display: block;
  font-weight: lighter; }

.review-item {
  padding-bottom: 1em;
  margin-bottom: 2em;
  border-bottom: 1px solid #6C8094; }
  .review-item p:first-of-type {
    font-family: "Cera", san-serif; }
  .review-item a:last-of-type {
    font-family: "Cera", san-serif; }
