/* UTILITIES */
@font-face {
  font-family: 'Cera';
  src: url("fonts/CeraPRO-Regular.eot");
  src: url("fonts/CeraPRO-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/CeraPRO-Regular.woff") format("woff"), url("fonts/CeraPRO-Regular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Cera';
  src: url("fonts/CeraPRO-RegularItalic.eot");
  src: url("fonts/CeraPRO-RegularItalic.eot?#iefix") format("embedded-opentype"), url("fonts/CeraPRO-RegularItalic.woff") format("woff"), url("fonts/CeraPRO-RegularItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Cera';
  src: url("fonts/CeraPRO-Medium.eot");
  src: url("fonts/CeraPRO-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/CeraPRO-Medium.woff") format("woff"), url("fonts/CeraPRO-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Cera';
  src: url("fonts/CeraPRO-MediumItalic.eot");
  src: url("fonts/CeraPRO-MediumItalic.eot?#iefix") format("embedded-opentype"), url("fonts/CeraPRO-MediumItalic.woff") format("woff"), url("fonts/CeraPRO-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Cera';
  src: url("fonts/CeraPRO-Bold.eot");
  src: url("fonts/CeraPRO-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/CeraPRO-Bold.woff") format("woff"), url("fonts/CeraPRO-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Cera';
  src: url("fonts/CeraPRO-BoldItalic.eot");
  src: url("fonts/CeraPRO-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/CeraPRO-BoldItalic.woff") format("woff"), url("fonts/CeraPRO-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

/* COLORS */
/* TYPOGRAPHY */
/* TRANSITIONS */
/* MEDIA QUERIES */
/* BASE STYLES */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  font-family: "ff-tisa-web-pro", serif;
  font-size: 16px;
  background-color: #F0F5F5; }
  @media screen and (min-width: 740px) {
    body {
      font-size: 20px; } }

a {
  color: #197380;
  transition: all 0.2s ease-out; }
  a:visited {
    color: #197380; }
  a:hover, a:active {
    color: #B1A0A0; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em; }

.single-column {
  max-width: 750px;
  margin: 0 auto 8em; }

.two-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  @media screen and (min-width: 740px) {
    .two-column {
      flex-direction: row; } }
  @media screen and (min-width: 740px) {
    .two-column .site-main {
      order: 2;
      width: 66.67%; } }

.sidebar {
  font-family: "Cera", san-serif; }
  @media screen and (min-width: 740px) {
    .sidebar {
      order: 1;
      width: 22%;
      margin-top: 5px; } }

.sidebar-title {
  text-transform: uppercase; }

h1,
.h1 {
  font-family: "Cera", san-serif;
  color: #14383D;
  font-size: 2.3em;
  font-weight: normal;
  line-height: 1.15em; }

h2,
.h2 {
  font-family: "Cera", san-serif;
  color: #14383D;
  font-size: 1.8em;
  font-weight: normal; }

h3,
.h3 {
  font-family: "Cera", san-serif;
  color: #14383D;
  font-size: 1em;
  font-weight: bold;
  margin-top: 0; }

h4,
.h4 {
  font-family: "Cera", san-serif;
  color: #14383D;
  font-size: 1em;
  font-weight: normal; }

.site-title a {
  text-decoration: none; }

.entry-title {
  margin-top: 0;
  margin-bottom: 0.65em; }

.extra-margin-heading {
  margin-bottom: 5rem; }

/* COMPONENTS */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.65em 0 7.5em; }

.site-title {
  font-size: 1.4em;
  margin: 0;
  font-family: "Cera", san-serif;
  font-weight: lighter; }

.main-navigation.toggled .nav-menu {
  display: block; }

.menu-toggle {
  display: inline; }
  @media screen and (min-width: 855px) {
    .menu-toggle {
      display: none; } }

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none; }
  @media screen and (min-width: 855px) {
    .nav-menu {
      display: block; } }

.menu-item {
  display: inline-block;
  font-family: "Cera", san-serif;
  text-transform: uppercase; }
  .menu-item a {
    padding: 10px 20px;
    font-size: 0.8em;
    letter-spacing: 1.18px;
    transition: all 0.2s ease-out;
    text-decoration: none; }
    .menu-item a:hover {
      color: #197380;
      background-color: #E8E1E1; }

.menu-item-has-children {
  position: relative;
  cursor: pointer; }
  .menu-item-has-children.active {
    transition: all 0.2s ease-out; }
    .menu-item-has-children.active > a {
      background-color: #E8E1E1; }
    .menu-item-has-children.active:after {
      top: 130%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #6C8094;
      border-width: 10px;
      margin-left: -10px; }

.sub-menu {
  background-color: #fff;
  padding: 1.2em 0;
  position: relative;
  width: 100%;
  margin: 0; }
  @media screen and (min-width: 855px) {
    .sub-menu {
      display: none;
      position: absolute;
      width: 342px;
      border: 1px solid #197380;
      left: -2.15em;
      top: 2.6em; } }
  .sub-menu .menu-item {
    text-transform: none;
    display: block;
    text-align: center;
    line-height: 2.15em; }
    .sub-menu .menu-item a {
      display: block;
      padding: 0; }

.nav-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  font-family: "Cera", san-serif; }

.wp-caption-text {
  font-family: "Cera", san-serif; }

.btn,
a.btn {
  background-color: #197380;
  color: #fff;
  cursor: pointer;
  font-family: "Cera", san-serif;
  padding: 1.25em 2.4em;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  display: inline-block;
  line-height: 1;
  text-decoration: none; }
  .btn:hover,
  a.btn:hover {
    background-color: #B1A0A0; }

.cta-link {
  font-family: "Cera", san-serif; }

/* TEMPLATE STYLES */
.book-overview {
  font-size: 1.1em; }

.book-sidebar-img {
  width: 100%;
  height: auto;
  margin-bottom: 1em; }

.book-buy-link {
  font-weight: 200;
  display: block;
  line-height: 1.75em; }

.book-reviews,
.book-interviews {
  margin-bottom: 4em; }

.book-review,
.book-interview {
  border-bottom: 1px solid #6C8094;
  margin-bottom: 2.15em;
  padding-bottom: 2.15em; }
  .book-review:last-of-type,
  .book-interview:last-of-type {
    border-bottom: none; }

.book-review-content p:first-of-type {
  font-family: "Cera", san-serif; }

.book-review-content a:last-child {
  font-family: "Cera", san-serif; }

.non-fiction-archive {
  max-width: 720px;
  margin: 0 auto; }

.non-fiction-item {
  padding-bottom: 2em;
  border-bottom: 1px solid #6C8094; }

.non-fiction-item-pub,
.non-fiction-item-date {
  display: block;
  font-family: "Cera", san-serif;
  font-weight: lighter; }

.news-heading {
  margin-bottom: .15em; }

.archive-description p {
  margin: 0;
  font-family: "Cera", san-serif;
  line-height: 1.5; }

.news-post {
  font-family: "Cera", san-serif;
  border-bottom: 1px solid #6C8094;
  margin-bottom: 2.4em;
  padding-bottom: 1em; }
  .news-post:last-of-type {
    border: none; }
  .news-post p {
    font-weight: lighter; }

.news-post-date {
  background-color: rgba(229, 223, 211, 0.5);
  padding: .25em .5em;
  display: inline-block;
  margin-bottom: 1.25em; }

.calendar-event {
  margin-bottom: 1em; }

.calendar-event-date {
  display: block; }

.calendar-event-link {
  display: block;
  font-weight: lighter; }
