/* UTILITIES */

@import 'utils/fonts';
@import 'utils/variables';

/* BASE STYLES */

@import 'base/main';
@import 'base/headings';

/* COMPONENTS */

@import 'components/header';
@import 'components/nav';
@import 'components/images';
@import 'components/captions';
@import 'components/buttons';
@import 'components/animations';
@import 'components/waves';

@import "underwater/main";
@import "underwater/objects";
@import "underwater/background";

/* TEMPLATE STYLES */

@import 'pages/home';
@import 'pages/single-page';
@import 'pages/single-book';
@import 'pages/non-fiction';
@import 'pages/news';
@import 'pages/reviews';