/* UTILITIES */

@import 'utils/fonts';
@import 'utils/variables';

/* BASE STYLES */

@import 'base/main';
@import 'base/headings';

/* COMPONENTS */

@import 'components/header';
@import 'components/nav';
@import 'components/images';
@import 'components/captions';
@import 'components/buttons';

/* TEMPLATE STYLES */

@import 'pages/single-page';
@import 'pages/single-book';