.btn,
a.btn {
	background-color: $color-button-primary;
	color: #fff;
	cursor: pointer;
	font-family: $title-font;
	padding: 1.25em 2.4em;
	text-transform: uppercase;
	transition: $hover-transition;
	display: inline-block;
	line-height: 1;
	text-decoration: none;

	@media screen and (min-width: $bp-md) {
		&:hover {
			background-color: $color-button-primary-hover;
		}
	}

}

.cta-link {
	font-family: $title-font;
}

a.social-link {
	text-decoration: none;
	margin-right:1em;
}