.main-navigation {

	&.toggled .nav-menu {
		display: block;
	}
}

.menu-toggle {
	display: inline;

	@media screen and (min-width: 855px) {
		display: none;
	}
}

.nav-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;

	@media screen and (min-width: 855px) {
		display: block;
	}
}

.menu-item {
	display: inline-block;
	font-family: $title-font;
	text-transform: uppercase;

	a {
		padding: 10px 20px;
		font-size: 0.8em;
		letter-spacing: 1.18px;
		transition: $hover-transition;
		text-decoration: none;

		&:hover {
			color: $color-link;
			background-color: $color-link-hover-bg;
		}
	}
}

.menu-item-has-children {
	position: relative;
	cursor: pointer;

	&.active {
		transition: $transition;


		> a {
			background-color: $color-link-hover-bg;
		}

		&:after {
			top: 130%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-top-color: $blue-grey;
			border-width: 10px;
			margin-left: -10px;
		}
	}
}

.sub-menu {
	background-color: #fff;
	padding: 1.2em 0;
	position: relative;
	width: 100%;
	margin: 0;

	@media screen and (min-width: 855px) {
		display: none;
		position: absolute;
		width: 342px;
		border: 1px solid $blue;
		left: -2.15em;
		top: 2.6em;
	}

	.menu-item {
		text-transform: none;
		display: block;
		text-align: center;
		line-height: 2.15em;

		a {
			display: block;
			padding: 0;
		}
	}
}

.nav-links {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2em;
	font-family: $title-font;
}