.main-navigation {
	position: relative;

	&.toggled .menu-menu-1-container {
		display: block;
		transition: $transition;
		z-index: 100;
	}
}

.menu-menu-1-container {
	position: fixed;
	left: 0;
	top: 100px;
	padding-top: 10%;
	bottom: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	background-color: #FDFDFF;
	display: none;
	z-index: 0;
	max-height: calc(100vh - 100px);

	@media screen and (min-width: 855px) {
		top: 0;
		position: relative;
		display: inline-block;
		padding-top: 0;
		overflow: visible;
		background-color: transparent;
		z-index: 0;
	}

}

.nav-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu-item {
	display: block;
	text-align: center;
	font-family: $title-font;
	text-transform: uppercase;

	@media screen and (min-width: 855px) {
		display: inline-block;
		text-align: left;
	}

	a {
		padding: 1em 0;
		font-size: 0.8em;
		letter-spacing: 1.18px;
		transition: $hover-transition;
		text-decoration: none;
		display: block;

		@media screen and (min-width: 855px) {
			padding: 10px 20px;
			display: inline;

			&:hover {
				color: $color-link;
				background-color: $color-link-hover-bg;
			}
		}
	}
}

.menu-toggle {
	display: inline;
	padding: 0;
	position: absolute;
	top: -15px;
	right: 0;

	@media screen and (min-width: 855px) {
		display: none;
	}
}



.menu-item-has-children {
	position: relative;
	cursor: pointer;

	&.active {
		// transition: $transition;


		> a {
			background-color: $color-link-hover-bg;
		}

		@media screen and (min-width: 855px) {
			&:after {
				top: 130%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-top-color: $blue-grey;
				border-width: 10px;
				margin-left: -10px;
			}
		}
	}
}

.sub-menu {
	background-color: #fff;
	padding: 1.2em 0;
	position: relative;
	width: 100%;
	margin: 0;
	display: none;
	border-top: 1px solid $blue;
	border-bottom: 1px solid $blue;


	@media screen and (min-width: 855px) {
		position: absolute;
		width: 342px;
		border-left: 1px solid $blue;
		border-right: 1px solid $blue;
		left: -2.15em;
		top: 2.6em;
	}

	.menu-item {
		text-transform: none;
		display: block;
		text-align: center;
		line-height: 2.15em;

		a {
			display: block;
			padding: 0 !important;
		}
	}
}

.nav-links {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2em;
	font-family: $title-font;
}