.main-navigation {
	position: relative;

	&.toggled .menu-menu-1-container {
		display: block;
		z-index: 100;
		overflow-y: auto;
		max-height: calc(100vh - 100px);
	}
}

.menu-menu-1-container {
	position: fixed;
	left: 0;
	top: 100px;
	padding-top: 10px;
	bottom: 0;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	background-color: #FDFDFF;
	transition: $transition;
	display: block;
	overflow:hidden;
	z-index: 0;
	max-height: 0;

	@media screen and (min-width: $bp-nav) {
		top: 0;
		position: relative;
		display: inline-block;
		padding-top: 0;
		overflow: visible;
		background-color: transparent;
		z-index: 0;
	}

}

.nav-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu-item {
	display: block;
	text-align: center;
	font-family: $title-font;
	text-transform: uppercase;

	#site-navigation & {

			width:100vw;
		@media screen and (min-width: $bp-nav) {

			width:auto;
			display: inline-block;
			text-align: left;
		}
	}

	a {
		padding: 1em 0;
		font-size: 0.8em;
		letter-spacing: 1.18px;
		transition: $hover-transition;
		text-decoration: none;
		display: block;

		#site-navigation & {
			@media screen and (min-width: $bp-nav) {
				padding: 10px 20px;
				display: inline;

				&:hover {
					color: $color-link;
					background-color: $color-link-hover-bg;
				}
			}
		}

	}
}

.menu-toggle {
	display: inline;
	padding: 0;
	position: absolute;
	top: -15px;
	right: 0;
	z-index: 101;

	@media screen and (min-width: $bp-nav) {
		display: none;
	}
}



.menu-item-has-children {
	position: relative;
	cursor: pointer;

	&.active {
		// transition: $transition;


		> a {
			background-color: $color-link-hover-bg;
		}
		div:not(.menu-uw){
			@media screen and (min-width: $bp-nav) {
				&:after {
					top: 130%;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-top-color: $blue-grey;
					border-width: 10px;
					margin-left: -10px;
				}
			}
		}
	}
}

.sub-menu {
	background-color: #fff;
	padding: 1.2em 0;
	position: relative;
	width: 100%;
	margin: 0;
	display: none;
	border-top: 1px solid $blue;
	border-bottom: 1px solid $blue;

	div:not(.menu-uw){
		@media screen and (min-width: $bp-nav) {
			position: absolute;
			width: 342px;
			border-left: 1px solid $blue;
			border-right: 1px solid $blue;
			left: -2.15em;
			top: 2.6em;
		}
	}

	.menu-item {
		text-transform: none;
		display: block;
		text-align: center;
		line-height: 2.15em;

		a {
			display: block;
			padding: 0 !important;
		}
	}
}

.nav-links {
	margin-bottom: 2em;
	font-family: $title-font;

	div {
		display: inline-block;
		margin-right: 1em;

		+ div {
			border-left: 1px solid $blue-grey;
			padding-left: 1em;
		}
	}
}

.uw-hud {
	pointer-events: initial;
	text-align:right;
	width:140px;
	list-style-type: none;
  margin: 0;
  padding: 10px 0;
  right: 2.5vw;
  position: fixed;
  bottom:0;
  font-family: $title-font;
  text-transform: uppercase;
  color: rgba(255,255,255,.7);
	display: flex;
	align-items: center;
	justify-content: space-around;

	pointer-events: none;
	opacity:0;
	transition: opacity 2s ease;

	&.show {
		opacity:.85;
		pointer-events: initial;
	}

	.totop {
		font-size:14px;
		text-decoration: none;
		line-height: 1;
		width: 40px;
		display: block;

		img {
			width:100%;
			height: auto;
		}
	}

	#uw-site-navigation{
		height:40px;

		&.toggled .menu-uw {
			
			overflow-y: auto;
			transform: translateX(0);
		}

	}

	.menu-uw {
		z-index: 100;
		position: fixed;
		right: 0;
    bottom: 70px;
		padding-top: 0;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		width: 100%;
		background-color: #FDFDFF;
		display: block;
		max-height: calc(100vh - 100px);
		max-width: 300px;
		transition: transform .5s ease;
    transform: translateX(100%);

		#primary-menu {
			margin:0;
			padding:0;
		}

	}
	.menu-toggle {
		display: inline;
		padding: 0;
		position: absolute;
		top: 0;
		right: 0;
	}


	.tcon-menu__lines, .tcon-menu__lines::before, .tcon-menu__lines::after {
    background: white;
    height:1px;
	}

}

