#page-wrap {
  .bottom {
    width: 100%;
    height:1px;
  }
}

#body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background: rgba(225, 236, 257, 1);
}
.below #body {
  perspective-origin: center 45vh;
}

.b-inner {
  width: 100%;
  height:auto;
  /*overflow: hidden;*/
  background: rgba(225, 236, 257, 1); 

}

.wave-wrap {
  width: 100%;
  position: relative;
  top: 0;

}

.wave-full {
    display: block;
    width:100%;
    height:auto;
}