html {
	box-sizing: border-box;
	position: relative;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	font-family: $font;
	font-size: 16px;
	background-color: #F0F5F5;
	position: relative;

	@media screen and (min-width: $bp-md) {
		font-size: 20px;
	}
}

#body {
  width: 100%;
  height: 100%;
}

#page-wrap {
  position: relative;
  z-index: 5;
	box-sizing:border-box;
	padding-top: 1px;
	padding-bottom: 10vw;
	transform: translateZ(0vw);
	background: linear-gradient(0deg, rgba(225, 236, 257, 0) 5%, rgba(225, 236, 257, 1) 40%, rgba(255, 255, 255, 1) 100%);
}

.no-scroll {
	overflow-y: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
}

a {
	color: $color-link;
	transition: $hover-transition;

	&:visited {
		color: $color-link;
	}

	&:hover,
	&:active {
		color: $color-link-hover;
	}
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 1em;
	overflow: hidden;
  text-overflow: ellipsis;
}

.single-column {
	max-width: 750px;
	margin: 0 auto 8em;
}

.two-column {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	@media screen and (min-width: $bp-md) {
		flex-direction: row;
	}

	.site-main {
		@media screen and (min-width: $bp-md) {
			order: 2;
			width: 66.67%;
		}
	}
}

.sidebar {
	font-family: $title-font;

	@media screen and (min-width: $bp-md) {
		order: 1;
		width: 22%;
		margin-top: 5px;
	}

}

.sidebar-title {
	text-transform: uppercase;
}
