html {
	box-sizing: border-box;
	position: relative;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	font-family: $font;
	font-size: 16px;
	background-color: #F0F5F5;
	position: relative;

	@media screen and (min-width: $bp-md) {
		font-size: 20px;
	}
}

#body {
  width: 100%;
  height: 100%;
}

#page-wrap {
  position: relative;
  z-index: 5;
	box-sizing:border-box;
	padding-top: 1px;
	padding-bottom: 0;
	transform: translateZ(0vw);
	background: linear-gradient(0deg, rgba(225, 236, 257, 0) 5%, rgba(225, 236, 257, 1) 40%, rgba(255, 255, 255, 1) 100%);
	margin-bottom: -25vw;
}

.no-scroll {
	overflow-y: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
}

a {
	color: $color-link;
	transition: $hover-transition;

	&:visited {
		color: $color-link;
	}

	&:active {
		color: $color-link-hover;
	}

	@media screen and (min-width: $bp-md) {
		&:hover {
			color: $color-link-hover;
		}
	}
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 1em;
	overflow: hidden;
  text-overflow: ellipsis;

  .home & {
  	overflow:visible;
  }
}

.single-column {
	max-width: 750px;
	margin: 0 auto;
}

.two-column {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	@media screen and (min-width: $bp-md) {
		flex-direction: row;
	}

	.site-main {
		@media screen and (min-width: $bp-md) {
			width: 66.67%;
			margin-top: 5px;
		}
	}

	&.two-column-wide {
		.site-main {
			@media screen and (min-width: $bp-md) {
				width: 58.33%
			}
		}
	}
}

.sidebar {
	font-family: $title-font;

	@media screen and (min-width: $bp-md) {
		width: 22%;

		.two-column-wide & {
			width: 33.33%
		}
	}

}

.sidebar-title {
	text-transform: uppercase;
}
