html {
	box-sizing: border-box;
	position: relative;
	background-color: #e1ecff;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	font-family: $font;
	font-size: 16px;
	background-color: #F0F5F5;
	position: relative;
	overflow-x: hidden;

	@media screen and (min-width: $bp-md) {
		font-size: 20px;
	}
}

#body {
  width: 100%;
  height: 100%;

  .loading {
		    background: #197380;
		height:100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		opacity:0;
		transition: opacity 1s ease;
		pointer-events: none;
		    display: flex;
    justify-content: center;
    align-items: center;

    img {
    	max-width:100px;
    }
	}

  &.not-loaded {
  	overflow: hidden;

  	.loading {
  		opacity:1;
  		pointer-events: auto;
  	
	  	.preloader {
			  position: absolute;
			  left: 50%;
			  top: 50%;
			  span {
			    height: 1em;
			    width: 1em;
			    display: block;
			    position: absolute;
			    left: 0;
			    top: 0;
			    border-radius: 50%;
			    background: #fafafa;
			    animation: wave 2s ease-in-out infinite;
			    &:nth-child(1) {
			      left: -4.5em;  
			      animation-delay: 0s;
			    }
			    &:nth-child(2) {
			      left: -1.5em; 
			      animation-delay: 0.1s;
			    }
			    &:nth-child(3) {
			      left: 1.5em;   
			      animation-delay: 0.2s;
			    }
			    &:nth-child(4) {
			      left: 4.5em; 
			      animation-delay: 0.3s;
			    }
			  }
			}
		}
  }
}
@keyframes wave {
  0%, 75%, 100% {
    transform: translateY(0) scale(1);
  }
  25% {
    transform: translateY(1.5em);
  }
  50% {
    transform: translateY(-1.5em) scale(1.1);
  }
}

#page:focus {
    border: none;
    outline: none;
}
#page-wrap {
  position: relative;
  z-index: 5;
	box-sizing:border-box;
	padding-top: 1px;
	padding-bottom: 0;
	transform: translateZ(0vw);
	background: linear-gradient(0deg, rgba(225, 236, 257, 0) 5%, rgba(225, 236, 257, 1) 40%, rgba(255, 255, 255, 1) 100%);
	margin-bottom: -25vw;
	pointer-events: auto;

	&.static-wave {
		background: linear-gradient(0deg, rgba(225, 236, 255, 0) 5%, #e1ecff 40%, white 100%);
	}

	body:not(.water) & {
		padding-bottom: 20vh;
		min-height: 100vh;background: linear-gradient(0deg, rgba(225, 236, 257, 1) 5%, rgba(255, 255, 255, 1) 100%);
	}
}

#body.no-scroll {
	overflow-y: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
}

a {
	color: $color-link;
	transition: $hover-transition;

	&:visited {
		color: $color-link;
	}

	&:active {
		color: $color-link-hover;
	}

	@media screen and (min-width: $bp-md) {
		&:hover {
			color: $color-link-hover;
		}
	}
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 1em;
	overflow: hidden;
  text-overflow: ellipsis;

  .home & {
  	overflow:visible;
  }
}

.single-column {
	max-width: 750px;
	margin: 0 auto;
}

.two-column {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	@media screen and (min-width: $bp-md) {
		flex-direction: row;
	}

	.site-main {
		@media screen and (min-width: $bp-md) {
			width: 66.67%;
			margin-top: 5px;
		}
	}

	&.two-column-wide {
		.site-main {
			@media screen and (min-width: $bp-md) {
				width: 58.33%
			}
		}
	}
}

.sidebar {
	font-family: $title-font;
	border-bottom: 1px solid $blue-grey;
	padding-bottom: 1em;
	margin-bottom: 1em;

	@media screen and (min-width: $bp-md) {
		width: 22%;
		border-bottom: none;

		.two-column-wide & {
			width: 33.33%
		}
	}

}

.sidebar-title {
	text-transform: none;
	font-size: 2.3em;
	font-weight: normal;

	@media screen and (min-width: $bp-md) {
		text-transform: uppercase;
		font-size: 1em;
		font-weight: bold;
	}
}

.ui-loader {
	display:none;
}
