.home {

	#page {
		text-align: center;
	}

	.book-title {
		padding: 0 0.5em;
		height: 40vh;
		max-width:700px;
		margin: 0 auto;
		display: flex;
		align-items: center;

		@media screen and (min-width: $bp-md) {
			height: 80vh;
		}

		.title-svg {
			width: 100%;
			height: auto;
		}
	}

	.reviews {
		margin-top: 50vh;

		@media screen and (min-width: $bp-md) {
			margin-top: 50vw;
		}
	}

	.featured-review {
		font-family: $font;
		font-size: 1.6em;
		line-height: 1.2;
		color: $dark-blue;
		margin: 6em auto 14em;
		max-width: 32ch;

		p {
			margin-top: 0;
			margin-bottom: 24px;
		}

		p:last-child {
			font-family: $title-font;
			font-size: 16px;
		}
	}


}