.home {

	#page {
		text-align: center;
	}

	.book-title {
		padding: 0;
		height: 50vh;
		max-width:700px;
		margin:0 auto;
		display: flex;
		align-items: center;
		position: relative;
		z-index: -1;

		@media screen and (min-width: $bp-md) {
			height: 50vh;
		}

		.t-svg-wrap {
			position: relative;
			width: 100%;
			height: 0;
			padding-bottom:35.8%;
			overflow:visible;
		}

		.title-svg {
			width: 100%;
			height: auto;
		}
	}

	.air-lines > div {
    width: 0.55%;
    position: absolute;
    height: 300vh;
    background: black;
    top: 26.7%;
	}
	#airlinesCanvas {
		height:100vh;
		width:100%;
		position:absolute;
		top:0;
		left:0;
		pointer-events: none;
		z-index: 0;
	}
	#al-a1 {
		left:70.4%;
	}

	.reviews {
		margin-top: 20vh;

		@media screen and (min-width: $bp-md) {
			margin-top: 30vw;
		}
	}

	.featured-review {
		font-family: $font;
		font-size: 1.6em;
		line-height: 1.2;
		color: $dark-blue;
		margin: 40vh auto;
		max-width: 32ch;

		p {
			margin-top: 0;
			margin-bottom: 24px;
		}

		p:last-child {
			font-family: $title-font;
			font-size: 16px;
		}
	}

	.wave-wrap {

		.wavetext {
			position: absolute;
			bottom: 8vw;
			left: 0;
			width:100%;
			text-align: center;
			color:white;
			display: flex;
			align-items: center;
			justify-content: space-around;
			font-family: $title-font;
			color:rgba(255,255,255,.5);
			font-weight: 200;

			animation: float-wobble 120s infinite linear;

			> * {
				max-width: 40ch;
			}
		}

	}

}
@keyframes float-wobble {
  0% { transform: rotate(0deg) translateX(1.8%) rotate(0deg); }
  25%   { transform: rotate(360deg) translateX(2.4%) rotate(-358deg); }
  55%   { transform: rotate(720deg) translateX(1.2%) rotate(-722deg); }
  80%   { transform: rotate(1080deg) translateX(2.0%) rotate(-1078.5deg); }
  100%   { transform: rotate(1440deg) translateX(1.8%) rotate(-1440deg); }
}