// Single book page

.book-overview {
	font-size: 1.1em;
}

.book-sidebar {
	p {
		margin: 0;
	}

	a {
		font-weight: lighter;
		display: block;
		line-height: 1.75em;
		font-size: .9em;
	}
}

.book-sidebar-img {
	width: 100%;
	height: auto;
	margin-bottom: 1em;
}

ul.book-nav {
    display: inline-block;
    list-style-type: none;
    margin: 0 0 1em;
    padding: 0;
    line-height: 1.1;
    font-family: "Cera", san-serif;
    font-size: .9em;
    font-weight: lighter;
}

.book-nav li {
    display: inline-block;
    text-align: left;
    border-right: 2px solid #999;
    padding: 0 .5em;
}

.book-header .entry-title {
    margin-bottom: 0.125em;
}

.book-reviews,
.book-interviews {
	margin-bottom: 4em;
}

.book-review,
.book-interview {
	border-bottom: 1px solid $blue-grey;
	margin-bottom: 2.15em;
	padding-bottom: 2.15em;

	&:last-of-type {
		border-bottom: none;
	}
}

.book-review-content,
.book-interview-content {
	p:first-of-type {
		font-family: $title-font;
	}

	a:last-child {
		font-family: $title-font;
	}
}

// Excerpt page
.back-to-book-link {
	display: block;
	margin-bottom: 4em;
}

.back-to-book-btn {
	margin-top: 4em;
}

.single-excerpt .entry-content {

	h1:first-child,
	h2:first-child,
	h3:first-child,
	h4:first-child {
		margin-top: -0.8em;
	}
}

// Book excerpts

// Goon squad slideshow
.slidenumbers {
	font-size: .65em;
	line-height: 1;
}

.slideinput {
	font-size: 1em;
}

.sshow-inwrap {
	width: 100%;
	height: 73.38vw;
	max-width: 672px;
	max-height: 520px;
}

.full-screen.control {
	display: none;
}