.book-overview {
	font-size: 1.1em;
}

.book-sidebar-img {
	width: 100%;
	height: auto;
	margin-bottom: 1em;
}

.book-buy-link {
	font-weight: 200;
	display: block;
	line-height: 1.75em;
}

.book-reviews,
.book-interviews {
	margin-bottom: 4em;
}

.book-review,
.book-interview {
	border-bottom: 1px solid $blue-grey;
	margin-bottom: 2.15em;
	padding-bottom: 2.15em;

	&:last-of-type {
		border-bottom: none;
	}
}

.book-review-content {
	p:first-of-type {
		font-family: $title-font;
	}

	a:last-child {
		font-family: $title-font;
	}
}