.uw-segway {
  position: relative;
  top: 0;
  left: 0;
  width:100%;
  height:150vh;
  background: linear-gradient(0deg, rgba(63, 98, 111, 0) 0%, rgba(63, 98, 111, 1) 30%, rgba(63, 98, 111, 1) 100%);
  @include backfacehidden;
  pointer-events: none;

/*  img {
    width:100%;
    height:100%;
    overflow: hidden;
  }*/
}

.background {

  position: absolute;
  bottom: 0;
  left: 0;
  transition: transform 1s ease;
  width: 100vw;
  height: 100%;
  pointer-events:none;
  @include preserve3d;
  
  opacity:1;

  .above & {
    opacity:0!important;
  }
      

  .structure {
    @include preserve3d;
    position: absolute;
    bottom: 0;
    left: 0;

    transition: opacity 2s ease;
    opacity:.6;
    transform-origin: center bottom;

    .above & {
      opacity:0!important;
    }
  }

  .st-0 {
    transform: translateZ(-1600vw) scale(21.6);

    img {
      width:100vw;
      /*border: 1px solid yellow;*/
    }
  }
  .st-1 {
    transform: translateX(-40vw) translateZ(-600vw) scale(70) rotate3d(0, 1, 0, -30deg);

    img {
      width:15vw;
    }
  }



}