.uw-segway {
  position: relative;
  top: -1px;
  left: 0;
  width:100%;
  height:150vh;
  background: linear-gradient(0deg, rgba(53, 74, 85, 0) 0%, rgba(53, 74, 85, 1) 30%, rgba(53, 74, 85, 1) 100%);
  @include backfacehidden;
  pointer-events: none;
  opacity:1;

  transition: opacity 2s ease;

  &.hide {
    opacity:0;
  }

/*  img {
    width:100%;
    height:100%;
    overflow: hidden;
  }*/
}

.background {

  position: absolute;
  bottom: 0;
  left: 0;
  transition: transform 1s ease;
  width: 100vw;
  height: 100%;
  pointer-events:none;
  @include preserve3d;
  // background: linear-gradient(2deg, transparent 0%, transparent 80%, $under-black 81%, $under-black 100%);


  opacity:1;

  .above & {
    opacity:0!important;
  }

  .structure {
    @include preserve3d;
    position: absolute;
    bottom: 0;
    left: 0;

    opacity:.6;
    transform-origin: center bottom;

    .above & {
      opacity:0!important;
    }
  }

  .st-0 {
    transform: translateZ(-3000vw) scale(40);

    img {
      width:100vw;
      /*border: 1px solid yellow;*/
    }
  }
  .st-1 {
    // transform: translateX(-40vw) translateZ(-600vw) scale(70) rotate3d(0, 1, 0, -30deg);
    transition: transform 2000ms ease-in-out;
    transform-origin: center bottom;

    img {
      width:15vw;
    }
  }



}