.underwater {

  position:relative;
  // border-top:3px magenta solid;
  width:100vw;
  transform-origin: top center;
  padding-bottom: 300vh;
  /*background: linear-gradient(2deg, $under-mid 0%, $under-mid 40%, $under-dark 85%, $under-black 92%, $under-black 100%);*/

  padding-top: 1px;
  margin-top: -2px;
  @include preserve3d;
}

.canvas-wrap {
	position:fixed;
	padding:10%;
    margin: auto;
    top: 0%;
    left: 0%;
	height:100%;
	width:100%;
	box-sizing:border-box;
	pointer-events:none;

  opacity:1;
  transition: opacity 3s ease;

  .above & {
    /*opacity:0;*/
  }
}

#detritus-canvas {
	position: fixed;
/* 	position: relative; */
    margin: auto;
    top: -5%;
    left: -5%;
	height:110%;
	width:110%;
	border:1px solid yellow;

	/*background: blue;*/
}

.bg-detritus {
	top: 0;
  left: 0;
  height: 300vw;
  right: 0;
  box-sizing: border-box;
  pointer-events: none;
  transform: translateZ(0vw);
  @include preserve3d;
  z-index: 3;

	 > div {
	  //background-image: url(http://team-eight.com/open-dev/jegan/assets/ground-dk-1.png);
	  content: "";
	  left: -50%;
	  position: absolute;
	  top: -50%;
	  width: 200%;
	  height: 200%;
	}

}


.floor {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url('//res.cloudinary.com/egan/image/upload/background/floor.png');

}