.node-wrapper {

  position: relative;
  margin-top: 1000vh;
  width: 80vw;
  max-width: 98vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  @include preserve3d;

  &.nw-0{
    margin-top:80vh;
  }

/*
  .above & {
    visibility: hidden;
  }*/

  .camera {
    @include preserve3d;
    transition:transform $cycleLength ease;
    width:100%;
    height:100%;
  }

  .spin {

    &.object {
      cursor:grab;
      cursor:-webkit-grab;
      width:100%;
      height:100%;
      /*animation: float-wobble 84s infinite linear;*/
    }

    .layer-1 {
      transform:translateZ(20vw);
    }
    .layer-2 {
      transform:scale(1.06) translateZ(10vw);
    }
    .layer-3 {
      transform:scale(1.18) translateZ(-10vw);
    }
    .layer-4 {
      transform:scale(1.24) translateZ(-20vw);
      //border: 1px solid red;
    }
  }
  &.column {
    .object {
      margin:5vw 0;
    }
  }
  &.text {
    .inner {
      //animation: float-wobble 124s infinite linear;
      padding: 0 4vw;
      opacity:.6;

    }
  }

}
.node {
  height: 70%;
  width: 100%;
  @include preserve3d;
  transform: translateZ(-100vw) scale(2.25);

  .inner {
    @include preserve3d;
    animation: float-wobble 55s infinite linear;
    transition: opacity $cycleLength ease;
  }

  .camera .object {
    position: absolute;
    pointer-events: initial;
  }

  .object {
    position: relative;
    width:100%;
    @include preserve3d;
    transform:rotateY(30deg) rotateX(5deg);
    cursor:pointer;
    transition: transform 1s ease;
    -webkit-backface-visibility: hidden;

    &.inactive {
      pointer-events: none;
    }

    &.scrollbar:not(.closed) .inner {
      height: 80vh;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 6px;
        background-color: rgba(255,255,255,0.1);
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(255,255,255,0.5);
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: rgba(255,255,255,0.1);
      }

      .open-handle {
        display:none;
      }

    }

    &.scrollbar.closed .inner {
      p:not(:first-child) {
        display: none;
      }
    }

    &.gear img {
      width: auto;
    }

    .inner {
      color: $lt-blue;
      line-height:1.4;
      text-align: center;

      p {
        text-align: left;
      }

      .imgbox {
        background-size: contain;
        width: 100%;
        height: 80vh;
        background-repeat: no-repeat;
        background-position: center center;
      }

      img {
        max-width:100%;
        height:auto;
      }

      img + p {
        padding:0 4em 0 1em;
      }

      > * {
        transition: opacity $cycleLength ease;

        opacity:1;

        /*.above & {
          opacity:0!important;
        }*/
      }

      > div img, > div p, p {
        width:100%;
        user-drag: none; 
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        max-width: 36ch;
        margin-left: auto;
        margin-right:auto;
        //animation: float-wobble 25s infinite;

      }
    }

    .text &, &.text {
      width: 100%;
    }
  }
}

.object.spin .inner > div {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  transition: opacity $cycleLength/2 ease;
  -webkit-backface-visibility: hidden;
}

.node .object.image .inner p {
  padding: .5em 0 1em;
  font-size: 0.8em;
  letter-spacing: 1.18px;
  font-family: $title-font;
  text-align: center;
  margin-top: 0;
}

.node .object.here .inner .prevnext {
  opacity:1;
  pointer-events: initial;
}

.node .object .inner .prevnext {
    height: 40px;
    width: 90px;
    display: block;
    position: absolute;
    bottom: -40px;
    left: 0;
    pointer-events: none;

    a {
      height: 40px;
      width: 40px;
      display: inline-block;
      position: relative;

      span {
        display: block;
        position:relative;
        height: 40px;
        width:1px;
        position: relative;
        background: #8ea9bd;
        transform: rotateX(65deg);
        left: 20px;
        opacity:0;
        transition: opacity $cycleLength/4 ease;

        &::after {
          content: '';
          height: 15px;
          width: 15px;
          border-top: 2px #8ea9bd solid;
          display: block;
          position: absolute;
          top: 0;
          left: -7.5px;
          transform: rotateZ(45deg);
          border-left: 2px #8ea9bd solid;

        }

      }
      &.prev span::after {
        top:auto;
        bottom: 0;
        border-bottom: 2px #8ea9bd solid;
        border-right: 2px #8ea9bd solid;
        border-top: none;
        border-left: none;
      }
    }
}
.node .object.here .inner .prevnext span {
  opacity:1;
  transition: opacity $cycleLength*2 ease;
}

a.open-handle {
    display: block;
    text-align: right;
    max-width: 36ch;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1.18px;
    text-decoration: none;
    font-family: "Cera", san-serif;
    text-transform: uppercase;
    color:#B1A0A0;
    font-size: 16px;

    &:hover, &:active{
      color:white;
    }
}