.node-wrapper {

  position: relative;
  margin-top: 1000vh;
  width: 80vw;
  max-width: 98vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  @include preserve3d;

  &.nw-0{
    margin-top:80vh;
  }

/*
  .above & {
    visibility: hidden;
  }*/

  .camera {
    @include preserve3d;
    transition:transform $cycleLength ease;
    width:100%;
    height:100%;
  }

  .spin {

    &.object {
      cursor:grab;
      cursor:-webkit-grab;
      width:100%;
      height:100%;
      /*animation: float-wobble 84s infinite linear;*/
    }

    .layer-1 {
      transform:translateZ(20vw);
    }
    .layer-2 {
      transform:scale(1.06) translateZ(10vw);
    }
    .layer-3 {
      transform:scale(1.18) translateZ(-10vw);
    }
    .layer-4 {
      transform:scale(1.24) translateZ(-20vw);
      //border: 1px solid red;
    }
  }
  &.column {
    .object {
      margin:5vw 0;
    }
  }
  &.text {
    .inner {
      //animation: float-wobble 124s infinite linear;
      padding: 0 4vw;
      opacity:.6;

    }
  }

}
.node {
  height: 70%;
  width: 100%;
  @include preserve3d;
  transform: translateZ(-100vw) scale(2.25);

  .inner {
    @include preserve3d;
    animation: float-wobble 55s infinite linear;
    transition: opacity $cycleLength ease;
  }

  .camera .object {
    position: absolute;
    pointer-events: initial;
  }

  .object {
    position: relative;
    width:100%;
    @include preserve3d;
    transform:rotateY(30deg) rotateX(5deg);
    cursor:pointer;
    transition: transform 1s ease;
    -webkit-backface-visibility: hidden;

    &.scrollbar:not(.closed) .inner {
      height: 80vh;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 6px;
        background-color: rgba(255,255,255,0.1);
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(255,255,255,0.5);
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: rgba(255,255,255,0.1);
      }

      .open-handle {
        display:none;
      }

    }

    &.scrollbar.closed .inner {
      p:not(:first-child) {
        display: none;
      }
    }

    &.gear img {
      width: auto;
    }

    .inner {
      color: $lt-blue;
      line-height:1.4;
      text-align: center;

      p {
        text-align: left;
      }

      img {
        max-width:100%;
        height:auto;
      }

      img + p {
        padding:0 4em 0 1em;
      }

      > div {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        transition: opacity $cycleLength/2 ease;
        -webkit-backface-visibility: hidden;
      }

      > * {
        transition: opacity $cycleLength ease;

        opacity:1;

        /*.above & {
          opacity:0!important;
        }*/
      }

      > div img, > div p, p {
        width:100%;
        user-drag: none; 
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        max-width: 36ch;
        margin-left: auto;
        margin-right:auto;
        //animation: float-wobble 25s infinite;

      }
    }

    .text &, &.text {
      width: 100%;
    }
  }
}
a.open-handle {
    display: block;
    text-align: right;
    max-width: 36ch;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1.18px;
    text-decoration: none;
    font-family: "Cera", san-serif;
    text-transform: uppercase;
    color:#B1A0A0;
    font-size: 16px;

    &:hover, &:active{
      color:white;
    }
}