.node-wrapper {

  position: relative;
  margin-top: 280vh;
  width: 70vw;
  max-width: 60vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  @include preserve3d;
  height: 120vw;

  &.nw-0{
    margin-top:80vh;
  }

  h3 {
    text-align: left;
    color:$lt-blue;
  }

/*
  .above & {
    visibility: hidden;
  }*/

  .camera {
    @include preserve3d;
    transition:transform $cycleLength ease;
    width:100%;
    height:100%;
  }

  .spin {

    &.object {
      cursor:grab;
      cursor:-webkit-grab;
      width:60%;
      height:100%;
      transform:rotateY(30deg) rotateX(5deg);
      left:20%;
      position:relative;
      /*animation: float-wobble 84s infinite linear;*/
    }

    .layer-1 {
      transform:translateZ(20vw);
    }
    .layer-2 {
      transform:scale(1.06) translateZ(10vw);
    }
    .layer-3 {
      transform:scale(1.18) translateZ(-10vw);
    }
    .layer-4 {
      transform:scale(1.24) translateZ(-20vw);
    }
  }
  &.column {
    .object {
      margin:5vw 0;
    }
  }
  &.text {
    .inner {
      padding: 0 4vw;
      opacity:.6;

    }
  }

}
.node {
  height: 70%;
  width: 100%;
  @include preserve3d;
  transform: translateZ(-100vw) scale(2.25);

  .inner {
    @include preserve3d;
    animation: float-wobble 55s infinite linear;
    transition: opacity $cycleLength ease;
  }

  .camera .object {
    position: absolute;
    pointer-events: initial;
  }

  .object.text:not(.scrollbar) .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 60vh;
  }

  .object {
    position: relative;
    width:100%;
    @include preserve3d;
    cursor:pointer;
    transition: transform 1s ease;
    -webkit-backface-visibility: hidden;

    &.inactive {
      pointer-events: none;
    }

    &.scrollbar:not(.closed) .inner {
      height: 80vh;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 6px;
        background-color: rgba(255,255,255,0.1);
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(255,255,255,0.5);
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: rgba(255,255,255,0.1);
      }

      .open-handle {
        display:none;
      }

    }

    &.scrollbar.closed .inner {
      p:not(:first-of-type) {
        display: none;
      }
    }

    &.gear img {
      width: auto;
    }

    .inner {
      color: $lt-blue;
      line-height:1.4;
      text-align: center;

      p {
        text-align: left;
      }

      .imgbox, .imgwrap {
        background-size: contain;
        width: 100%;
        height: 0;
        padding-top: 100%;
        background-repeat: no-repeat;
        background-position: center center;
      }

      .imgbox {
        position: absolute;
        top: 0;
      }

      img {
        max-width:100%;
        height:auto;
      }

      img + p {
        padding:0 4em 0 1em;
      }

      > * {
        transition: opacity $cycleLength ease;

        opacity:1;

        /*.above & {
          opacity:0!important;
        }*/
      }

      > div img, > div p, p, h3 {
        width:100%;
        user-drag: none; 
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        max-width: 36ch;
        margin-left: auto;
        margin-right:auto;

      }

    }

    &.floating .inner .imgbox {
      width: 70%;
      padding-top: 70%;
    }
    
    .text &, &.text {
      width: 100%;
    }
  }
}

.object.spin .inner > div {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  transition: opacity $cycleLength/2 ease;
  -webkit-backface-visibility: hidden;
}

.node .object:not(.text) .inner p {
  padding: .5em 0 1em;
  font-size: 0.8em;
  letter-spacing: 1.18px;
  font-family: $title-font;
  text-align: center;
  margin-top: 0;
}

a.open-handle {
    display: block;
    text-align: right;
    max-width: 36ch;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1.18px;
    text-decoration: none;
    font-family: "Cera", san-serif;
    text-transform: uppercase;
    color:#B1A0A0;
    font-size: 16px;

    &:hover, &:active{
      color:white;
    }
}

.underwater-video-modal {
  position: fixed;
  z-index: 1000;
  max-width: 640px;
  width: 80vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  box-shadow: 0px 0px 0px 1000px black;
  display: none;

  &.portrait {
    max-width: 400px;

    .video-holder {
      padding-bottom: 162.1%;
    }
  }

  .video-holder {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }

  iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

  button {
    position: absolute;
    top: -30px;
    right: -30px;

    .tcon-menu__lines {
      transform: scale3d(0.8, 0.8, 0.8);
      background: transparent;
      height: 1px;

      &:before {
        transform: rotate3d(0, 0, 1, 45deg);
        transform-origin: 50% 50%;
        top: 0;
        width: 2em;
        height: 1px;
        background-color: white;
      }

      &:after {
        transform: rotate3d(0, 0, 1, -45deg);
        transform-origin: 50% 50%;
        top: 0;
        width: 2em;
        height: 1px;
        background-color: white;
      }
    }
  }
}

.floating .imgloader {
  display: none;
}

.imgloader {
  width: 20%;
  padding-top: 20%;
  position: absolute;
  top: 40%;
  left: 40%;
  z-index:0;
}

.loading {
  img {
    animation: spin 5s infinite linear;
  }
}


@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
