@font-face {
	font-family: 'Cera';
	src: url('fonts/CeraPRO-Regular.eot');
	src: url('fonts/CeraPRO-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/CeraPRO-Regular.woff') format('woff'),
		url('fonts/CeraPRO-Regular.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Cera';
	src: url('fonts/CeraPRO-RegularItalic.eot');
	src: url('fonts/CeraPRO-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/CeraPRO-RegularItalic.woff') format('woff'),
		url('fonts/CeraPRO-RegularItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Cera';
	src: url('fonts/CeraPRO-Medium.eot');
	src: url('fonts/CeraPRO-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/CeraPRO-Medium.woff') format('woff'),
		url('fonts/CeraPRO-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cera';
	src: url('fonts/CeraPRO-MediumItalic.eot');
	src: url('fonts/CeraPRO-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/CeraPRO-MediumItalic.woff') format('woff'),
		url('fonts/CeraPRO-MediumItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Cera';
	src: url('fonts/CeraPRO-Bold.eot');
	src: url('fonts/CeraPRO-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/CeraPRO-Bold.woff') format('woff'),
		url('fonts/CeraPRO-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cera';
	src: url('fonts/CeraPRO-BoldItalic.eot');
	src: url('fonts/CeraPRO-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/CeraPRO-BoldItalic.woff') format('woff'),
		url('fonts/CeraPRO-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}