@keyframes distance-wobble {
  0% {
      transform: rotate(0deg) translateX(5px) rotate(0deg);
      opacity: 0.4;
    }
    12% {
        opacity: .6;
    }
    13% {
        opacity: .8;
    }
    14% {
        opacity: .4;
    }
    25% {
        transform: rotate(360deg) translateX(10px) rotate(-358deg);
        opacity: .7;
    }
    26% {
        opacity: .9;
    }
    32.5% {
        opacity: .4;
    }
    33% {
        opacity: .8;
    }
    34% {
        opacity: .4;
    }
    56% {
        transform: rotate(720deg) translateX(3px) rotate(-722deg);
        opacity: .6;
    }
    57% {
        opacity: .9;
    }
    65% {
        opacity: .4;
    }
    80% {
        transform: rotate(1080deg) translateX(8px) rotate(-1078.5deg);
        opacity: .6;
    }
    100% {
        transform: rotate(1440deg) translateX(5px) rotate(-1440deg);
        opacity: .4;
    }
}

@keyframes float-wobble {
  0% { transform: rotate(0deg) translateX(1.8%) rotate(0deg); }
  25%   { transform: rotate(360deg) translateX(2.4%) rotate(-358deg); }
  55%   { transform: rotate(720deg) translateX(1.2%) rotate(-722deg); }
  80%   { transform: rotate(1080deg) translateX(2.0%) rotate(-1078.5deg); }
  100%   { transform: rotate(1440deg) translateX(1.8%) rotate(-1440deg); }
}